<form [formGroup]="monFormulaire" (ngSubmit)="onSubmit()">
<div class="question-container">
  <p class="question">
    ماهو الفصل الذي يتحدث عنه
    النص؟
  </p>
  <div class="radio-container">
      <label class="radio-label">
          <input type="radio" name="foodType"  class="radio-input" >
          الصيف
      </label>
      <label class="radio-label">
          <input type="radio" name="foodType"  class="radio-input" formControlName="reponse1" value="reponse1">
          الربيع
      </label>
      <label class="radio-label">
        <input type="radio" name="foodType"  class="radio-input">
        الخريف
    </label>
    <label class="radio-label">
      <input type="radio" name="foodType"  class="radio-input">
      الشتاء
  </label>
  </div>


  <h1>ترتيب الأعمال</h1>
        <ol>
            <li>خرجت العرائس الطائرة ترفرف و تمرح مع السناجب</li>
            <input type="number" name="" id="" formControlName="reponse2">
            <li>يمتص الرحيق ليصنع العسل</li>
            <input type="number" name="" id="" formControlName="reponse3">
            <li>أقدم النحل يرعى الأزهار</li>
            <input type="number" name="" id=""  formControlName="reponse4">
            <li>فرحت الطيور بقدوم الربيع</li>
            <input type="number" name="" id="" formControlName="reponse5">
            <li>جاءت ترفرف حول العرائس الطائرة</li>
            <input type="number" name="" id="" formControlName="reponse6">
        </ol>

        <button type="submit">تحقق</button>
</div>
</form>
<div class="image-container">
  <img *ngIf="isCorrectAnswer" src="assets/vrai.jpg" alt="Réponse Correcte">
  <img *ngIf="!isCorrectAnswer" src="assets/faux.jpg" alt="Réponse Incorrecte">
</div>
