<!-- Première section -->


<!-- Deuxième section -->
<div class="question-container">
  <p class="question">
    ماهو الفصل الذي يتحدث عنه
    النص؟
  </p>
  <div class="radio-container">
      <label class="radio-label">
          <input type="radio" name="foodType"  class="radio-input">
          الصيف
      </label>
      <label class="radio-label">
          <input type="radio" name="foodType"  class="radio-input">
          الربيع
      </label>
      <label class="radio-label">
        <input type="radio" name="foodType"  class="radio-input">
        الخريف
    </label>
    <label class="radio-label">
      <input type="radio" name="foodType"  class="radio-input">
      الشتاء
  </label>
  </div>


  <h1>ترتيب الأعمال</h1>
        <ol>
            <li>خرجت العرائس الطائرة ترفرف و تمرح مع السناجب</li>
            <li>يمتص الرحيق ليصنع العسل</li>
            <li>أقدم النحل يرعى الأزهار</li>
            <li>فرحت الطيور بقدوم الربيع</li>
            <li>جاءت ترفرف حول العرائس الطائرة</li>
        </ol>
</div>
