.body {
  font-family: Arial, sans-serif;
  text-align: right; /* Aligner le texte à droite */
  background-color: #f9f9f9;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    animation: fadeIn 1s ease; /* Animation d'apparition */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h1, h2 {
  color: #333;
  margin-top: 0; /* Supprimer la marge supérieure */
}
.question {
  margin-bottom: 20px;
}
form {
  margin-top: 10px;
}
button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #45a049;
}
.h1{
  text-align: center;
  color: aqua;
}
