<div class="body">
  <div class="container">
    <h1 class="h1">أسئلة وأجوبة</h1>

    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
      <div class="question">
        <h2>ماهي الألوان التي يتكون منها علم فلسطين؟</h2>
        <div formGroupName="question1">
          <input type="radio" formControlName="colors1" id="colors1" value="colors1" name="ques">
          <label for="colors1">اللون الأخضر و الأبيض و الأسود و الأحمر</label><br>

          <input type="radio" formControlName="colors2" id="colors2" value="colors2" name="ques">
          <label for="colors2">اللون الأزرق و الأبيض و الأسود و الأحمر</label><br>

          <input type="radio" formControlName="colors3" id="colors3" value="colors3" name="ques">
          <label for="colors3">اللون الأصفر و الأبيض و الأسود و الأحمر</label><br>
        </div>
      </div>

      <div class="question">
        <h2>ماذا تسمى أشهر وجبة في فلسطين؟</h2>
        <div formGroupName="question2">
          <input type="radio" formControlName="meal1" id="meal1" value="meal1" name="quest2">
          <label for="meal1">المدلوقة</label><br>

          <input type="radio" formControlName="meal2" id="meal2" value="meal2" name="quest2">
          <label for="meal2">المقلوبة</label><br>

          <input type="radio" formControlName="meal3" id="meal3" value="meal3" name="quest2">
          <label for="meal3">المحمر</label><br>
        </div>
      </div>

      <div class="question">
        <h2>بماذا حلمت ورد؟</h2>
        <div formGroupName="question3">
          <input type="text" formControlName="dream" id="dream1">
        </div>
      </div>

      <button type="submit" id="validateBtn">تحقق</button>
    </form>

    <div class="end"></div>
  </div>
  <div id="bravoAnimation" class="bravo-animation d-none">Bravo!</div>

  <audio id="audio1" src="assets/vedio/ghalet.mp3"></audio>
  <audio id="audio2" src="assets/vedio/shih.mp3"></audio>
</div>




  <div class="success-message">
    <p>تمت العملية بنجاح!</p>
    <div id="badge" class="badge">✓</div>
  </div>
  <div class="image-container">
  <img *ngIf="isCorrectAnswer" src="assets/vrai.jpg" alt="Réponse Correcte">
  <img *ngIf="!isCorrectAnswer" src="assets/faux.jpg" alt="Réponse Incorrecte">
</div>
