<div  class="body">
<div class="container">
  <h1 class="h1">أسئلة وأجوبة</h1>
  <div class="question">
      <h2>ماهي الألوان التي يتكون منها علم فلسطين؟</h2>
      <form>
          <input type="radio" id="colors1" name="colors" value="اللون الأخضر و الأبيض و الأسود و الأحمر">
          <label for="colors1">
            اللون الأخضر و الأبيض و الأسود و الأحمر

          </label><br>
          <input type="radio" id="colors2" name="colors" value="اللون الأزرق و الأبيض و الأسود و الأحمر">
          <label for="colors2">
            اللون الأزرق و الأبيض و الأسود و الأحمر


          </label><br>
          <input type="radio" id="colors2" name="colors" value="اللون الأزرق و الأبيض و الأسود و الأحمر">
          <label for="colors2">
            اللون الأخضر و الأبيض و الأسود و الأحمر

          </label><br>
      </form>
  </div>
  <div class="question">
      <h2>ماذا تسمى أشهر وجبة في فلسطين؟</h2>
      <form>
          <input type="radio" id="meal1" name="meal" value="المدلوقة المقلوبة المحمر">
          <label for="meal1">المدلوقة  </label><br>
          <input type="radio" id="meal1" name="meal" value="المدلوقة المقلوبة المحمر">
          <label for="meal1"> المقلوبة </label><br>
          <input type="radio" id="meal1" name="meal" value="المدلوقة المقلوبة المحمر">
          <label for="meal1">  المحمر</label><br>


      </form>

  </div>

  <div class="question">
    <h2>

      بماذا حلمت ورد ؟
    </h2>
    <form>
        <input type="text" id="meal1" name="meal" >



    </form>

</div>
<button id="validateBtn">تحقق</button>

</div>
</div>
