/* Style pour le titre */
h1 {
  text-align: center;
  text-decoration: underline;
}

/* Style pour le texte */
p {
  font-size: 18px;
  text-align: right;
}

/* Style pour les images */
img {
  display: block;
  margin: 0 auto;
}

/* Style pour le bouton */
.submit {
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style pour le lecteur audio */
.audio-player-container {
  text-align: right;
  margin-right: 20px;
}

.audio-button {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
