<div style="text-align: left; margin-left: 20px;">
    <h1 style="text-decoration: underline;">
        الحاسوب یتكلم
        </h1 >

       <div style="font-size: 18px;">
        <p>
            زینب بنت مدللة، لدیھا كل ما یلزمھا من كتب و أدوات مدرسیة وحاسوب لكنھا تقضي أغلب الوقت في ممارسة اللعب علىالحاسوب. فتراھا تأخذ مكانا أمام الشاشة وتضغط على الأزرار فتنكشف لھا لعب عدیدة.
            كل القصص التي تملأ خزانتھا تركتھا.
                    </p>
    <img src="assets/hasoub/image1.png" alt="">
    <p>
        ذات یوم خاطبھا الكتاب قائلا :
"أصبحت لا تھتمین بي و لا تدفئیني بین یدیك، ولا تأخذینني معك إلى فراشك كما كنت تفعلین؟"ردت زینب غیر مبالیة :
"الآن عندي حاسوب أجد فیھ كل ما أحتاج إلیھ و أسبح بین ألعابھ."
"إن تركتني فسوف تندمین." أضاف الكتاب.
لم تكترث زینب لنصیحة صدیقھا القدیم الكتاب.
یوم الأحد، رمت زینب فرضھا المنزلي جانبا وأخذت تداعب أزرار الحاسوب وقتا طویلا، ھذه لعبة الأوراق ، وھذه لعبة الباربي وأخرى سندریلا و یوغیو.

    </p>
    <img src="assets/hasoub/image2.png" alt="">
   <p>
    لم یتمالك الحاسوب نفسھ و خاطب زینب :"أكاد أنفجر، ألیس لدیك عمل تقومین بھ؟ فأنت تضیعین الوقت، والألعاب التي تختارینھاصاخبة وعنیفة، علیك بتنظیم وقتك، فالحیاة مرح وعمل".
    صمتت زینب، ولم تجد ما تجیب بھ صدیقھا الجدید الحاسوب. وأخذت تفكر في كلامھ الذي شابھ كلام الكتاب، وأیقنت أن كلا منھماقدم لھا نفس النصیحة.

   </p>
   <img src="assets/hasoub/image3.png" alt="">
<p>
    قطع الحاسوب تفكیر صدیقتھ زینب :
    "لا تفكري كثیرا، فأنت تحتاجینني في القیام ببحث علمي أو أدبي أو ثقافي، أما تعلم اللغات و بعض الألعاب ففي وقت الفراغ."

</p>


       </div>


       <div>
        <button type="submit" class="submit" (click)="routerhasoub()">إختبر نفسك</button>
    </div>
</div>
