/* Styles pour le conteneur principal */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

/* Styles pour les questions */
.question {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

/* Styles pour les titres de questions */
.question h2 {
  font-family: 'Comic Sans MS', cursive;
  color: #ff6f61;
}

/* Styles pour les étiquettes */
.question form label {
  display: inline-block;
  margin-bottom: 10px;
  font-family: 'Comic Sans MS', cursive;
}

/* Styles pour les boutons */
.question form button {
  background-color: #ff6f61;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Comic Sans MS', cursive;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.question form button:hover {
  background-color: #ff4d3e;
}

/* Styles pour les entrées de texte */
.question form input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Comic Sans MS', cursive;
}

/* Styles pour les entrées radio */
.question form input[type="radio"] {
  margin-right: 10px;
  vertical-align: middle;
}

/* Ajouter des styles supplémentaires selon les besoins */
.h1{
  text-align: center;
}
.h2{
  text-align: right;
}

.label
{
  margin-left: 70%;
}

img {
  max-width: 100%;
  height: auto;
}

/* Style pour le conteneur des images */
.image-container {
  text-align: center;
  margin-top: 20px;
}

/* Style pour cacher les images par défaut */
.hidden {
  display: none;
}
.fadeInOut {
  animation: fadeInOut 2s ease-in-out; /* Définir la durée de l'animation */
}

