<div class="container">
  <h1>أسئلة وأجوبة</h1>
  <div class="question" [formGroup]="questionForm1">
      <h2>في أي قارة تقع الهند؟</h2>
      <form>
          <input type="radio" id="continent1" name="continent" formControlName="continent1">
          <label for="continent1">آسيا</label><br>
          <input type="radio" id="continent2" name="continent" formControlName="continent2">
          <label for="continent2">أفريقيا</label><br>
          <input type="radio" id="continent3" name="continent" formControlName="continent3">
          <label for="continent3">أوروبا</label><br>
          <input type="radio" id="continent4" name="continent" formControlName="continent4">
          <label for="continent4">أمريكا</label><br>
      </form>
  </div>
  <div class="question" [formGroup]="questionForm2">
      <h2>أشرح الكلمات التالية:</h2>
      <form>
          <input type="radio" id="explain1" name="explain" formControlName="explain1">
          <label for="explain1">أغدقت=تعني الإسراف في التبرع</label><br>
          <input type="radio" id="explain2" name="explain" formControlName="explain2">
          <label for="explain2">تخشى=تعني الخوف من شيء</label><br>
          <input type="radio" id="explain3" name="explain" formControlName="explain3">
          <label for="explain3">يراقب=تعني المراقبة بانتباه</label><br>
      </form>
  </div>
  <div class="question" [formGroup]="questionForm3">
      <h2>أحدد شخصيات القصة وأذكر نوعها:</h2>
      <form>
          <input type="radio" id="characters1" name="characters" formControlName="characters1">
          <label for="characters1">شخصيات رئيسية</label><br>
          <input type="radio" id="characters2" name="characters" formControlName="characters2">
          <label for="characters2">شخصيات ثانوية</label><br>
          <input type="radio" id="characters3" name="characters" formControlName="characters3">
          <label for="characters3">شخصيات مساعدة</label><br>
          <input type="radio" id="characters4" name="characters" formControlName="characters4">
          <label for="characters4">شخصيات معرقلة</label><br>

          <button type="submit" id="validateBtn" (click)="onSubmit()">تحقق</button>
      </form>
  </div>
</div>
