<div class="container">
  <h1 class="h1">أسئلة وأجوبة</h1>
  <div class="question" [formGroup]="questionForm1">
      <h2 class="h2">في أي قارة تقع الهند؟</h2>
      <form>
          <input type="radio" id="continent1" name="continent" formControlName="continent1">
          <label class="label" for="continent1">آسيا</label><br>
          <input type="radio" id="continent2" name="continent" formControlName="continent2">
          <label class="label" for="continent2">أفريقيا</label><br>
          <input type="radio" id="continent3" name="continent" formControlName="continent3">
          <label class="label" for="continent3">أوروبا</label><br>
          <input type="radio" id="continent4" name="continent" formControlName="continent4">
          <label class="label" for="continent4">أمريكا</label><br>
      </form>
  </div>
  <div class="question" [formGroup]="questionForm2">
      <h2 class="h2">أشرح الكلمات التالية</h2>
      <form>
          <table>
              <tr>
                <td><input type="text"></td>
                  <td><label class="label" for="explain1">أغدقت</label></td>

              </tr>
              <tr>
                <td><input type="text"></td>
                  <td><label class="label" for="explain2">تخشى</label></td>

              </tr>
              <tr>
                <td><input type="text"></td>
                  <td><label class="label" for="explain3">يراقب</label></td>

              </tr>
          </table>
      </form>
  </div>
  <div class="question" [formGroup]="questionForm3">
      <h2 class="h2">أحدد شخصيات القصة وأذكر نوعها</h2>
      <form>
        <table class="table table-bordered">
          <tr>
              <td class="col-md-6"><input type="text" id="characters1" name="characters" formControlName="characters1"></td>
              <td class="col-md-6 text-right"><label class="label" for="characters1">شخصيات رئيسية</label></td>
          </tr>
          <tr>
              <td class="col-md-6"><input type="text" id="characters2" name="characters" formControlName="characters2"></td>
              <td class="col-md-6 text-right"><label class="label" for="characters2">شخصيات ثانوية</label></td>
          </tr>
          <tr>
              <td class="col-md-6"><input type="text" id="characters3" name="characters" formControlName="characters3"></td>
              <td class="col-md-6 text-right"><label class="label" for="characters3">شخصيات مساعدة</label></td>
          </tr>
          <tr>
              <td class="col-md-6"><input type="text" id="characters4" name="characters" formControlName="characters4"></td>
              <td class="col-md-6 text-right"><label class="label" for="characters4">شخصيات معرقلة</label></td>
          </tr>
      </table>


          <button type="submit" id="validateBtn" (click)="onSubmit()">تحقق</button>
      </form>
  </div>
</div>
