.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.question {
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
}

.text-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

img {
  max-width: 100%;
  height: auto;
}

/* Style pour le conteneur des images */
.image-container {
  text-align: center;
  margin-top: 20px;
}

/* Style pour cacher les images par défaut */
.hidden {
  display: none;
}
.fadeInOut {
  animation: fadeInOut 2s ease-in-out; /* Définir la durée de l'animation */
}
