/* Style pour le titre */
h1 {
    color: #ff69b4; /* Rose vif */
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 50px;
}

/* Style pour les images */
img {
    max-width: 200px; /* Pour assurer que les images ne dépassent pas de leur conteneur */
    max-height: 200px;
    display: block; /* Pour éviter les espaces vides sous les images */
    margin: 0 auto; /* Centrer les images horizontalement */
}

/* Style pour le texte */
p {
    color: #0000ff; /* Bleu */
    font-family: Arial, sans-serif;
    line-height: 1.6; /* Espacement des lignes pour une meilleure lisibilité */
    text-align: justify;
    text-align: right;
    direction: rtl;
    margin-right: 100px;
    font-size: 30px;
}
.submit {
  background-color: #4c74af; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur */
  border: none; /* Suppression de la bordure */
  border-radius: 5px; /* Arrondi des coins */
  cursor: pointer; /* Curseur de la souris */
  margin-right: 50%;
}

.submit:hover {
  background-color: #454ba0; /* Couleur de fond au survol */
}

.audio-player-container {
  position: fixed;

  transform: translateX(-50%);

}

.audio-button {
  background-color: #4CAF50; /* Couleur de fond du bouton */
  border: none;
  color: white; /* Couleur du texte du bouton */
  margin-left: 40%;
  width: 100px;
  height: 50px;
  text-decoration: none;

  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;

}


.submit:hover {
  background-color: #454ba0; /* Couleur de fond au survol */
}
