<div style="text-align: left; margin-left: 20px;">
    <h1 style="text-decoration: underline;">
        أمي حدثیني عن فلسطین
       </h1 >
       <img src="" alt="">
       <div style="font-size: 18px;">
        <p>        ذات یوم وقبل ذھاب ورد للنوم سألت امھا بحماس-:أمي لقد سمعت الیوم عن فلسطین حدثیني عنھا-قالت الام : -حسناً یا جمیلتي غدا سنذھب للمكتبةواحدثك عن كل شيء یخص فلسطین الحبیبة ولكن نامي الان
        </p>
    <img src="assets/felastin/image1.png" alt="">
    <p>
        وفي صباح الیوم التالي ذھبت ورد مع امھاللمكتبة المجاورة للمنزل
        وبدات الام تحدثھا عن فلسطین وكیف احتلھا الاعداءوتعرفت ورد على شكل خریطة فلسطین الحبیبةولون علمھا

    </p>
   <img src="assets/felastin/image2.png" alt="">
   <p>
    وما إن عادت ورد و أمھا للمنزل حتى ارتدت الشال الفلسطیني الذي اشترتھ لھا أمھا و أحضرت الألوان مسرعة لتقوم برسم علمفلسطین مع أمھا. یتكون علم فلسطین من أربعة ألوان الأخضر و الأبیض و الأسود و جانبا یوجد اللون الأحمر

   </p>
<img src="assets/felastin/image3.png" alt="">
<p>
    : أحضرت أم وردة خریطة فلسطین الأصلیة قبل الاحتلال و بدأت بشرحھا قالت الأم لورد
یحد فلسطین من الغرب البحر الأبیض المتوسط ومن الشرق سوریا والأردن ومن الشمال لبنان ومن الجنوب مصر و خلیج العقبة-و توجد بفلسطین 11 محافظة	وھم : القدس ٫ غزة ٫ بیت لحم ٫رام ﷲ ٫ نابلس٫ خیفا٫ عكة ٫ الخلیل ٫جنین أریجا

</p>
<img src="assets/felastin/image4.png" alt="">
<p>بعد أداء ورد و أمھا صلاة العشاء طلبت ورد من أمھا أن تكمل لھا حدیثھا عن فلسطین فقالت الأم لورد :- إن فلسطین الحبیبةمھبط الوحي وموطن الأنبیاء و بھا المسجد الأقصى ثالث الحرمین وھو من المساجد التي تشد الرحال إلیھ عن أبي ھریرة رضي ﷲعنھ عن النبي صلى ﷲ علیھ و سلم قال:"لا تشد الرحال إلا إلى ثلاثة مساجد المسجد الحرام و مسجد الرسول صلى ﷲ علیھ وسلموالمسجد الأقصى
</p>
<img src="assets/felastin/image5.png" alt="">
<p>
    .على مائدة الغداء و استكمالا للحدیث عن فلسطین صنعت الأم وجبة فلسطینیة شھیرةأقبلت ورد جائعة جدا و سألت أمھا :- أمي ماذا صنعتي لي الیوم على الغداء ؟
لقد صنعت لك وجبة فلسطینیة تعد من أشھر الوجبات الفلسطینیة تسمى المقلوبة تحتوي على لحم أو دجاج و أنواع من الخضاریعلوھا أرز و تقدم بطریقة تقلیدیة و ھي قلبھا على الصینیة فیصبح اللحم و الخضار بالأعلى و الأرز تحتھ بطریقة ممیزة تشبھ كعكةالمناسبات و لذا سمیت بالمقلوبة

</p>
<img src="assets/felastin/image6.png" alt="">
<p>
    وفي صباح یوم العید فاجئت الأم ورد بأزیاء رائعة من التراث الفلسطیني محاكاة حیاكة یدویة بتطریز ممیز من الألوان الزاھیةقالت ورد بسعادة عارمة :- أمي تشعرني ھذه الأزیاء بفخامة و عراقة لا مثیل لھا

</p>
<img src="assets/felastin/image7.png" alt="">
<p>
    قالت الأم لورد :-كدت أنسى ما تشتھر بھ أرض فلسطین لولا أن أحضرتھ لنا جارتنا زھراء الفلسطینیةقالت ورد:- وماھو یا أمي؟الزعتر و زیت الزیتون
تشتھر أرض فلسطین الحبیبة بأجود شجر للزیتون یصنع منھ أجود زیت زیتون بالعالم

</p>
<img src="assets/felastin/image8.png" alt="">

<p>
    وكلما تحدثت الأم مع ورد عن فلسطین كلما حلمت ورد أنھا تصلي بالأقصى صحبة من تحب

</p>
<img src="assets/felastin/image9.png" alt="">
<p>
    تكرر الحلم مرارا بل و حلمت ورد أن الأقصى قد تحرر و اتى لھ المسلمین راكضین من كل حدب و صوب

</p>
<img src="assets/felastin/image10.png" alt="">
<p>
    حكت ورد حلمھا لأمھا صباحا و كیف كان المسلمون فرحین بتحریر فلسطین مقبلین راكضین للصلاة بالأقصى و كیف بدى الأطفالسعیدین یلعبون في ساحة المسجد الأقصىدمعت عیني أم ورد و تمنت لو تحقق حلم ابنتھا قریبا

</p>
<img src="assets/felastin/image11.png" alt="">
<p>
    وأخیرا شكرت ورد أمھا على المعلومات التي قدمت لھا عن أرض فلسطین الحبیبة و تمنت لو علم كل الأطفال ما علمتھ عنفلسطین أرض الأقصى

</p>
<img src="assets/felastin/image12.png" alt="">


       </div>

       <div>
        <button type="submit" class="submit" (click)="routerFelastin()">إختبر نفسك</button>
    </div>
</div>
