<audio id="audioElement">
  <source src="assets/vocal/rabi3.mp3" type="audio/mpeg">

</audio>

<div class="audio-player-container">
  <button class="audio-button" (click)="toggleAudio()">
    {{ isPlaying ? 'وقف' : 'تشغيل' }}
  </button>
</div>

<div style="text-align: left; margin-left: 20px;">


    <h1 style="text-decoration: underline;">
        فصل الربیع
    </h1 >

       <div style="font-size: 18px;">
        <p>
           حل فصل الربیع استیقظت الطبیعة من سباتھا وأورقت الأشجار و أخضر العشب و تفتحت الازھار
            و لما ینزل المطر یلوح قوس قزح بألوانھ الزاھیة المتناسقة مع ألوان زھور الغابة و ورودھا
                    </p>
    <img src="assets/rabiee/image1.png" alt="">

    <p>
      خرجت العرائس الطائرة ترفرف و تمرح مع السناجب و أقدم النحل یرعى الأزھار و یمتص رحیقھا لیصنع العسل غذاء للإنسان ودواء یتداوى بھ
    </p>
    <img src="assets/rabiee/image2.png" alt="">
    <img src="assets/rabiee/image3.png" alt="">
   <p>
    فرحت الطیور بقدوم الربیع و جاءت ترفرف حول العرائس الطائرة و كأنھا تستقبلھن و تھنئھن بھذا الفصل الجمیل
    لم یمض وقت طویل حتى وجدت العرائس فطرا عملاقا على ضفة بركة فاتخذن منھ بیتا یسكنھ و یتمتعن بالحدیث مع الأسماك والضفادع

   </p>
   <img src="assets/rabiee/image4.png" alt="">
<p>
    فرحت العرائس الطائرة بمسكنھن الجدید فقد كانت تحیط بھ أنواع مختلفة من الأشجار و النباتات: التوت و الفراولة
</p>
<img src="assets/rabiee/image5.png" alt="">

<p>
    وفي اللیالي المقمرة كانت العرائس تخرجن لترین ألوان الأزھار تنعكس على ضفة البركة و القمر ینشر فضتھ علیھا. حقا أن فصل الربیع جمیل بألوانھ الطبیعیة التي لا تفارقنا لیلا نھارا
</p>
<img src="assets/rabiee/image6.png" alt="">


       </div>

       <div>
        <button type="submit" class="submit" (click)="routerRabi3()">إختبر نفسك</button>
    </div>


</div>
