<div class="row">
    <div class="col-md-12 background-image">
      <h1 class="text-success">السنة الرابعة</h1>

      <div class="row">
        <div class="col-md-3" (click)="redirectToOtherRouterFaracha()">
          <app-kessas [imageUrl]="'../../../assets/felastin/3onwen.png'"></app-kessas>
          <span>        أمي حدثیني عن فلسطین
          </span>
        </div>
        <div class="col-md-3" (click)="redirectToOtherRouterRabie()">
          <app-kessas [imageUrl]="'../../../assets/bayteri/3onwenbayteri.png'"></app-kessas>
          <span>
            البيطري الصغير

          </span>
        </div>
        <div class="col-md-3" (click)="redirectToOtherRouterSemee()">
          <app-kessas [imageUrl]="'../../../assets/saber/sabertitre.png'"></app-kessas>
          <span>

            !ما أجمل الصبر
          </span>
        </div>
        <div class="col-md-3" (click)="redirectToOtherRouterHasoub()">
          <app-kessas [imageUrl]="'../../../assets/mawkli/mawklititre.png'"></app-kessas>
          <span>
            ماوكلي فتى الأدغال

          </span>
          <div class="footer"></div>
        </div>
<div class="end">

</div>
      </div>
    </div>
  </div>
