.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 24px;
}

.question {
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.text-input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

img {
  max-width: 100%;
  height: auto;
}

/* Style pour le conteneur des images */
.image-container {
  text-align: center;
  margin-top: 20px;
}

/* Style pour cacher les images par défaut */
.hidden {
  display: none;
}
.fadeInOut {
  animation: fadeInOut 2s ease-in-out; /* Définir la durée de l'animation */
}

