<div class="container">
  <h1>أسئلة وأجوبة</h1>
  <div class="question">
      <h2>لماذا أصبحت زينب تهمل الكتب؟</h2>
      <input type="text" class="text-input" name="question1" id="question1" formControlName="question1">
  </div>
  <div class="question">
      <h2>لماذا انفجر الحاسوب غاضبا؟</h2>
      <input type="text" class="text-input" name="question2" id="question2" formControlName="question2">
  </div>
  <div class="question">
      <h2>لماذا نستعمل الحاسوب؟</h2>
      <input type="text" class="text-input" name="question3" id="question3" formControlName="question3">
  </div>
  <button class="button" (click)="Submit()">تحقق</button>
</div>
