<div class="container">
  <h1>أسئلة وأجوبة</h1>
  <div class="question">
      <h2>لماذا أصبحت زينب تهمل الكتب؟</h2>
      <p>..............................................<br>
      ..............................................<br>
      ...............................<br>
      </p>
  </div>
  <div class="question">
      <h2>لماذا انفجر الحاسوب غاضبا؟</h2>
      <p>...........................................<br>
      ...........................................<br>
      ...........................................<br>
      ............................<br>
      </p>
  </div>
  <div class="question">
      <h2>لماذا نستعمل الحاسوب؟</h2>
      <p>............................................<br>
      ....................................<br>
      ...........................................<br>
      </p>
  </div>
</div>
