<!-- <a href="/kes1">Heroes</a> -->

<router-outlet></router-outlet>



<div class="video-container" *ngIf="isBackground()">
  <video autoplay loop muted playsinline>
    <source src="assets/vedio/vd1.mp4" type="video/mp4">

  </video>
</div>


  <h1 class="title" *ngIf="isBackground()">
   !مرحباً أيها الأصدقاء الصغار
  </h1>
  <p class="paragraph" *ngIf="isBackground()">


    هل أنتم جاهزون لمغامرة لا تُنسى في عوالم القصص والخيال؟ إذاً، احضروا قلوبكم وانطلقوا معنا في رحلة مليئة بالمرح والتشويق!
في هذا التطبيق الرائع ، ستجدون مكتبة واسعة من القصص الساحرة التي تنتظركم لتكتشفوها وتستمتعوا بها. ستعبرون معنا إلى عوالم مليئة بالمغامرات الشيقة، وستلتقون بشخصيات رائعة ومثيرة للإعجاب.
هنا، ستجدون قصصاً تتنوع بين الأساطير الخيالية والمغامرات العلمية، وبين قصص الحيوانات الطريفة والأبطال الخارقين! كل قصة هي عالم جديد ينتظركم لاستكشافه والانغماس فيه بكل حواسكم.
وماذا عن تقنية القراءة الصوتية؟ هل ترغبون في الاستماع إلى القصص بأصوات ساحرة ومليئة بالحيوية؟ لا تقلقوا، فقد قمنا بتضمينها لكم لتستمتعوا بكل كلمة وكل جملة معنا.
نحن هنا لمساعدتكم على تنمية مهاراتكم وتوسيع خيالكم، ونحن على يقين بأن كل قصة ستترك بصمة رائعة في قلوبكم وستثري عقولكم.
فلنتوجه الآن إلى العالم الساحر للقصص، حيث تنتظركم مغامرات لا تُنسى وتجارب تعليمية مثيرة. هيا بنا نبدأ الرحلة!

  </p>

  <p class="paragraph" *ngIf="isBackground()">
    يرجى الانتباه: للدخول إلى هذا العالم الساحر، يجب أن تكونوا جاهزين للمرح والتشويق، ولكن أهم شيء هو أن تكونوا مستعدين للتعلم والاستمتاع بكل لحظة. هل أنتم مستعدون؟
لنبدأ الرحلة، أيها الأصدقاء الصغار! 🚀📚🌟

  </p>
  <div  class="centered-container" *ngIf="isBackground()">
    <app-classe [nomClasse]="'السنة الرابعة'" (click)="ToAceuil4()" ></app-classe>


    <app-classe [nomClasse]="'السنة الثالثة'" (click)="ToAceuil3()"></app-classe>


</div>







