<!-- <a href="/kes1">Heroes</a> -->

<router-outlet></router-outlet>



<div class="video-container" *ngIf="isBackground()">
  <video autoplay loop muted playsinline>
    <source src="assets/vedio/vd1.mp4" type="video/mp4">

  </video>
</div>
<h1 class="title" *ngIf="isBackground()"> رحلة الأديب الصغير</h1>

  <div class="paragraph" *ngIf="isBackground()">
    <audio id="audioElement">
      <source src="assets/vocal/Audio page de garde.mp3" type="audio/mpeg">

    </audio>

    <div class="audio-player-container">
      <button class="audio-button" (click)="toggleAudio()">
        {{ isPlaying ? 'وقف' : 'تشغيل' }}
      </button>
    </div>


  </div>


  <div  class="centered-container" *ngIf="isBackground()">
    <app-classe [nomClasse]="'السنة الرابعة'" (click)="ToAceuil4()" ></app-classe>


    <app-classe [nomClasse]="'السنة الثالثة'" (click)="ToAceuil3()"></app-classe>


</div>







