<div style="text-align: left; margin-left: 20px;">
    <h1 style="text-decoration: underline;">
         البيطري الصغير
    </h1 >
       <img src="" alt="">
       <div style="font-size: 18px;">
        <p>
            في يوم من أيام الربيع ،كانت الشمس مشرقة ، وكان الهواء خفيفا منعشا .فأخذ شكري شبكة وقفصا ،وخرج إلى الغابة القريبة يبحث عن الأعشاش.
            وصل إلى المكان المقصود ، فنصب الشبكة بين الأعشاب ،ونثر قريبا منها حفنة من الحبوب، ثم اختفى وراء جذع شجرة وبقي ينتظر .
                    </p>
    <img src="../../../../../assets/bayteri/image1.png" alt="">
    <img src="../../../../../assets/bayteri/image2.png" alt="">
    <p>
        مر الوقت ثقيلا .وفجأة، أقبل سرب من الخطاطيف .وحط على شجرة قريبة، وما لبثت الطيور الجائعة أن رأت الحبوب المنثورة على الأرض فنزلت وعميت عن الشبكة ،فوقع فيها خطاف.
    </p>
   <img src="../../../../../assets/bayteri/image3.png" alt="">
   <p>
    فشعرت بقية الخطاطيف بالخطر .فاضطربت وفرت مذعورة . وجد الخطاف الأسير نفسه وحيدا فحاول الفرار واللحاق برفاقه . فأخذ يتخبط ،لكن دون جدوى . فكلما ضرب بجناحيه تخبل في الشبكة أكثر وأكثر .
   </p>
<img src="../../../../../assets/bayteri/image4.png" alt="">
<p>
    فرح شكري بصيده ،فظهر من وراء الشجرة وجرى نحو الشبكة، وحاول تخليص أجنحة الطائر ورجليه من الخيوط .لكنه وجد رجله اليمنى قد كسرت ،فحدث نفسه: »  ماذا أفعل بخطاف مكسور ؟ .« فكر الطفل الصغير في إطلاق سراح الطائر المصاب ،لكنه عدل عن فكرته .
</p>

<p>
    قرر أخذه إلى المنزل ومداواة جرحه . وما إن وصل حتى أخذ قارورة كحول طبي وشاشا أبيض نظيفا وقطنا .وألبس يديه قفازتين وشرع في العمل.
    وضع العصفور الجريح في حوض ،ونفخ برفق على جسمه ليبعد الريش ،ثم أمسك بقطنة نظيفة وغمسها في الكحول الطبي ، ونظف الجرح بعناية ثم ربط الرجل المصابة بشاش أبيض نظيف
     وقال فخورا بما صنع: »   الآن يمكنك أن تستريح أيها العصفور ،لقد أنهى البيطري عمله الشهير . «
    </p>
    <img src="../../../../../assets/bayteri/image5.png" alt="">
<p>
    ثم وضع العصفور في القفص وجاءه بماء نظيف وخس طري.
    « مضت أيام طويلة ،وشكري يعتني بالطائر المصاب ،ينظف جرحه كل يوم ويعطيه طعاما وماء حتى شفي الخطاف وأصبح قادرا على الطيران .فأخذه شكري إلى الغابة وأطلق سراحه قائلا :» الحق برفاقك الذين تركوك ،انتبه لنفسك وإياك أن تقع في قبضة صياد مرة أخرى.

</p>


       </div>

       <div>
        <button type="submit" class="submit" (click)="routerBayteri()">إختبر نفسك</button>
    </div>
</div>
