<div class="row">
      <div class="col-md-12 background-image">
        <h1 class="text-success">السنة الثالثة</h1>

        <div class="row">
          <div class="col-md-3" (click)="redirectToOtherRouterFaracha()">
            <app-kessas [imageUrl]="'assets/faracha/farachatitre.png'"></app-kessas>
            <span>
              الفراشة والنحلة

            </span>

          </div>
          <div class="col-md-3" (click)="redirectToOtherRouterRabie()">
            <app-kessas [imageUrl]="'assets/rabiee/rabi3titre.png'"></app-kessas>
            <span>
              فصل الربیع

            </span>
          </div>
          <div class="col-md-3" (click)="redirectToOtherRouterSemee()">
            <app-kessas [imageUrl]="'assets/semee/semeetitre.png'"></app-kessas>
            <span>
              في سماء الوطن

            </span>
          </div>
          <div class="col-md-3" (click)="redirectToOtherRouterHasoub()">
            <app-kessas [imageUrl]="'assets/hasoub/hasoubtitre.png'"></app-kessas>
            <span>
              الحاسوب یتكلم

            </span>
          </div>
<div class="end">

</div>
        </div>
      </div>
    </div>
