<div style="text-align: left; margin-left: 20px;">
    <h1 style="text-decoration: underline;">
        في سماء الوطن
       </h1 >
       <audio id="audioElement">
        <source src="assets/vocal/watanAudio.mp3" type="audio/mpeg">

      </audio>

      <div class="audio-player-container">
        <button class="audio-button" (click)="toggleAudio()">
          {{ isPlaying ? 'وقف' : 'تشغيل' }}
        </button>
      </div>
       <div style="font-size: 18px;">
        <p>
            اجتمع الأطفال في ساحة المنزل یمرحون ویعدون وراء بعضھم ویتسابقون نحو خط الوصول، وبینما ھم كذلك إذ سمعوا أزیزا قویافي السماء فرفعوا رؤوسھم الصغیرة یبحثون عن مصدر الھدیر…وكانت السماء ملبدة بالغیوم ، والأزیز یتناھى إلیھم من خلال جحافل السحاب…وقفوا مدھوشین ینظرون إلى فوق إلى أن لاح بریق ینفذ من سحابة كثیفة ، ویرسل خلفھ خطا أبیض طویلا سرعان ما تبدد و تلاشى …قال أحدھم: إنھا طائرة .. فصفقوا راقصین مغنین: یا طیارة..یا طیارة       </p>
    <img src="assets/semee/image1.png" alt="">
    <p>
        واختفت الطائرة في السحاب الكثیف ثم لاحت من جدید وتوجھت نحو الشمال وتضاءل أزیزھا قال أحد الأصحاب لأقرانھ: لماذا لانصنع طائرة ونسافر بھا في سماء تونس وتتجول فوق المدن والجبال؟ فاستحسنوا الفكرة واتفقوا على جمع الأدوات والقطعاللازمة..
        قالت ھدى : أنا أوفر لكم ورشة أبي لنصنع فیھا الطائرة..
        وقال لطفي : أنا أتبرع بمحرك دراجتنا الناریة ، لقد استغنى عنھ أبي ووضعھ في مأوى السیارة..
        وقال ماجد: أنا آتیكم بالأخشاب لصنع الجناحین، أما سلوى فقالت : لقد خبأت مروحة لأحد المحركات یمكن استعمالھا في مقدمةالطائرة.. ولم تمض ساعة جلب الأطفال جمیع اللوازم التي سیحتاجونھا ، وجلبوا عجلات مطاطیة كانت تستعمل لدرجات یلھو بھاالصغار و الكبار واستعانوا بكھرباء الورشة للحام

    </p>
    <img src="assets/semee/image2.png" alt="">
   <p>
    وبدأ كل منھم یَقوُمُ بِدَوْرِهِ حَسَبَ تَصْمِیـم لطائرة صغیرة عثرواعلیھ في إحدى المجلات. وأصبحت الفكرة جاھزة لتَِتَحَوّلَ بَعْدَ ذَلكَِإلَِى مَشْرُوعِ حَقِیقِي .. وَقَضُوا أیَامًا فِي ھیكل الطائِرَةِ ثَُّم قَامُوا فِي النھایة بطلائھا ودھنھا
وحاولوا تشغیلھا ، لكن المحرك ظل صامتا ، فَأدَارُوا المروحة بأیدھم، فَأخََذَتْ تَدُورُ بِسُرْعَةٍ فائقة .. ھَذَا جمیلإنھا خطوة كبیرة لتحقیق الحلم الذي رَاوَدَ خیالھم .
و سیصبح حقیقة مع مر الأیام كلما تداركوا النقائص
ووقفوا علیھا . وَدَفَعُوا الطائِرَةَ، فَدَارَتْ عَجَلاتھا ، وتحرك جِسْمُھَا وَانطَلَقَتْ تَعُدُو فَوْقَ سَاحَةِ مبلطة بالإسمنت ... قَالَ لطفي :"لابد أنَْ نُزَودَ الْخَزان
بالوقود .. ففعلوا، ثم شغلوا المحرك فَاطِلَقَ جَعجَعَة مزعِجَةً، وَنَفَثَ مِنَ المُؤَِّخرَةِ دُخَانًا أسَْوَدَ كَثیفًا .. صَاحَأحَدُھُمْ : ھَذِهِ مَرْحَلَةِ ھَامةٌ قَطَعْنَاھَا فِي سَبِیلِ الوصول إلى صنع الطائرة، ولكن لأ بََدٌ مِنْ إیِجَادِ فَكَرَةٍ لتَِفَادِي مَا أحَْدَثَھُ المحركُ مِنْ تَلوث .

   </p>
   <img src="assets/semee/image3.png" alt="">
<p>
    رَكِبَ الأطَْفَالُ دَاخِلَ ال	َّ صدُوقِ، وَكَلِّ فوُا وَاحِدًا مِنْھُمْ لدَِفع
    الطائرة مِنْ خَلْفِ، وَتملَمَلَتْ حجثتھَا فَوْقَ المَدْرَج الصلب،
    وَتَمَایَلتْ إلَِى أنَْ مُسَ جَنَاحَاھَا الْأرَْضَ ، ثُم أغَْمَضَوا عُیُونَھُمْ بَعْضَ الوَقْتِ في خَیَالِ عَجیبِ…و ھا ھي تَعْلوُ شَیْئًا فَشَیْئًا، وَتَبْتَعِدُ عَنِ الْأرَْضِ، وَلماأحََسُوا أنَھَا حَلَقَتْ فِي السمَاءِ، فَتَحُوا أبَْصَارَھُمْ، وَقَدِ
    انْدَھَشُوا مَا كَشَفَتْھُ الطَبیعَةُ تَحْتَھُمْ مِنْ جَمَالٍ ، وَھُمْ یَنْظُرُونَمن فوق ، ویلمسون السحاب بأیدیھم فیجدونھ ندیًا مُشَبعًا
    بالماء ، وقد تضاءلت القرى و المدن تحتھم …والطائرة تنقل بھم فوق الھضاب والجبال والأودیة والسھول …
    مَرَتِ الطائِرَةُ فِي سَمَاءَ صَفَاقسَ، وَكَانَ الْأطَْفَالُ مَشْدُوھِینَبِسُورھَا العظیم الذي یَحْكي تاریخ المدینَةِ وَأمْجَادَھَا ،
    ومیناتھَا الْتجَارِي ال َّ نشِیطِ وَبِالْبَوَاخِرِ التي تمخر البحر مثقلة بالبضائع.. وكُمْ أعَْجَبُوا بِغَابَاتِ الزیتون ال َّ شاسِعَة التي تغطي مِسَاحَاتِعَرِیضَةً وَمُنْبَسِطَةً فَكَانَ الْمَشْھَدُ فِي مُنْتَھي الجمال والروعة .. ثم حَلَقَتْ في سَمَاءِ -قابـس-فوق واحات النخیل الخلابَةِ وَمَزارع الحناء الخضراء ....
    وتوجھت إلى الجنوب... ھَا ھِيَ جَزِیرَةُ الْأحَْلامِ
    تبدو متبرجة كالعَرُوس یَحْفھَُا الْبَحْرُ مِنْ كَُّ  ل جَانِبِ فِي مَنْظر بدیع …ثم ابتعدت الطائِرَةُ شَیْئًا فَشَیْئًا لیَِرَى الأطفال
    صحـارِي قاحِلَةً مُتَرَامِ َّ یةَ الْأطَْرَافِ عَلَى مَدَى الْبَصَرِ .. إ َّ نِھَا جزء من ال	َّ صحْرَاءِ الإفریقیة الكبرى وَقَد أمُْتَ َّ دتْ فَوْقَ رَمَالَھَا الصفراءأنابیب النفط.
    وبرزت -دوز- عروس ال	َّ صحْرَاءِ جَمِیلَة خَلابَةَ، وَاشْتَھَرَتْ بمَھْرَجَاءنھا السنوي لعادات وتقالید الجھة .. وَلَمْ تَمضِ بُرْھَةٌ حَ َّ تى بَانَشَطْ الجرید ، وَعَلَى حافتھ مَدِینَةَ - توزر - مَسْقَط رَأس الشاعرالخالد أبي القاسم الشابي ببنایاتھا البنیة المزركشة بقوالب الطینالصغیرة ذات الأشكال الھندسیة الرائعة.. وَمَا ھِيَ -قَفَضَةُ - الْعَرِیقَةُ فِي التاریخ مَازَالَتْ تحاكي الماضي وَتَفْتَخِرُ بِحَوْضِھا المنجمي .
    . وَحَامَتِ ال َّ طائِرَةُ فَوْقَ ال ُّ ظھْرِیَةِ التونسیة ذات الجبال ال َّ شامِخَةِ، ثُ َّ م تَوَجْھَتْ نَحْوَ الْوَسَطَ وَحَلَقَتْ فَوْقَ القَیْرَوَان عَاصِمَةَ الْأغََالبَِةِ وَقَدْأسَْسَھَا الْقَائِد الإسلامي عقبة بن نَافِعٍ وَمَا زَالَتْ آثَارُھَا شَاھِدَةً عَلَى أمَْجَادِھَا مِثلِ جَامع عقبة
    و فسقیّة الأغالبة .. وَفِیھَا مَرْقَدُ الصحابي الجلیل أبي زَمْعَة البلوي .. وَفَوْقَ المَھْدِ َّ یةِ كَانَ الأطفال یتحدثونَ عَنْ آثار ھذه المدینة التيكانَتْ عَاصِمَةٌ
    للعبیدیینَ، ثُ َّ م حلَقَت ال َّ طائِرَةُ فَوقَ جَھَة الساحل المكتظة
    بالمدن الكثیرة .. وانتھتِ المَرْحَلَةُ الأوُلَى مِنَ الَّ  رحْلَةِ فَھَبَطَتَ الطائرة تدریجیا في مطار المنستیر للإستراحة والتزود بالوقود والإنِاخةِرَدُھَةٌ مِنَ ال َّ زمَنِ ، ثُ َّ م أسَْتَأنَفَتْ رِحلَتَھَا فَوْقَ سُوسَةً المَشْھُورَةِ بِشَاطِئِ أبَِي جَعْفَرٍ وَمُرَكبَ القَنْطَاوِي السیاحي ..
    وتوجھت الطائرة نحو الشمال متتبعة سواحل البحر إلى أن حَلَقَتْ فَوْقَ مَدِینَة الحَمَامَاتِ ذَاتِ ال َّ شاطِئِ الْأخَْضَرالساحر ، وَالْفَنَادَقِ الْفَحْمَةِ ، وَكُمْ كَانَ المَشْھَدُ عَجِیبًا وَرَائِعاً
    وھي تطیر بھم في سماء الوطن القبلي …... ثم توجھت نحو العاصمة وھي أكبر المدن التونسیّة، وفیھا . مركز الحكم وأھم
    المصالح والمؤسسات .. وَعَادَ الأطَْفَالُ یَتَذَكِرُونَ التاریخ لما شَاھَدُوا آثَارَ قَرْطَاجَةً وَتَدَارَسُوا مَعَ بَعْضِھِمْ أحَْدَانَا جسامًا مثل قدومعلیسة من لبنان والحروب التي خَاصَھَا القَائِدُ حنبَعْلُ صَ َّ د ال ُّ رومَانِ، وَفَوْقَ سیدي بوسعید وَالْمَرْسَى انجذبُوا إلَِى مَا أبَْدَعَتْھُ الطبیعةالمتفجرة من سحر وَجَمَال ..

</p>
<img src="assets/semee/image4.png" alt="">

<p>
    وظلت الطائِرَةُ سَائِرَةً في وجھتھا نحو
الشمَال ... وَفَوْق بنزرت عَاصِمَةِ الجَلَاءِ كَانَ الأطفالیَتَأمُْلوُنَ قَناتَھا وَجسرَھَا الْمُتَحَ ِّ ركَ وَبحیرَة -إشكل -المُصَنفَةَ عَالَمیّا مَحْمیّة للطیور النادرة والمھاجرة.
وَعَرّجَتِ ال َّ طائِرَةُ إلَِى شَمَالِ تُونَسَ فَوْقَ ال ُّ سھُولِ الْخَصْبَةِلوَادِي مَجْرَدَة وَالبَحَیْرَاتِ الجَبَلیِةِ اللمَاعَةِ، وَال ُّ سدُودكثیرة، والآثار العدیدَةِ وَالمَسَارح التاریخیة .. وَوَصَلَتِ
الطائرة إلى أقصى نقطة في الشمَالَ الغربي فوق - طبرقةو عَیْن دَرَاھِم وَھَكَذَا طَافَتْ بِھِمْ فِي سَمَاءِ تُونِسَ،
وَشَاھَدُوا مِنْ فَوْقَ جَمِیعَ أرََاضِیھَا وَمَعَالمِھَا وَمُدُنِھا وَسُھُولھا ومرتفعاتھا وسواحلھا التي یَعْجِزُ اللسَانُ عَنْ وَصْف محاسنھا وذكرھاجمیعًا . ثم عَادَتْ أدَْرَاجَھَا وَكَانَ
الأطفال في جو مِنَ الفرحة والإعجاب والانبھار بما
شَاھَدُوهُ ... وَشِرَعَتِ الطائِرَةُ فِي النزُولِ شَیْئًا فَشَیْئًا إلَِى حَطتُ بِسَلَامٍ عَلى أرَْضِ المطار.. فصفق الأطفال
مھنینَ بَعْضُھُمْ عَلَى نجاح الرحْلَةِ وَخَرَجُوا مِنَ الطائرة لایصدقون ھَل ھُمْ فِي حُلم أمْ فِي یَقظَةٍ وَأنَْ رَحْلَتَھُمْ حَدَثَتْ الخیال أم في الواقع .. ولكن الحقیقة التي اسْتَنتَجُوھَا تقول لھم :" ما أحَْلَى ھَذَا الْوَطَنَ ... إنِھُ أجَْملُ بلد فيالدنیا"

</p>


       </div>
       <div>
        <button type="submit" class="submit" (click)="routersmee()">إختبر نفسك</button>
    </div>
</div>
