<div style="text-align: left; margin-left: 20px;">
    <h1 style="text-decoration: underline;">
        ماوكلي فتى الأدغال
        </h1 >

       <div style="font-size: 18px;">
        <p>
            . في غابة صغيرة بالهند كان هناك صبي صغير يدعى ماوكلي ، كان يعيش مع مجموعة من الذئاب حيث وجدته الذئبة الأم وحيدًا في الغابة ، فأخذته وربته مع صغارها وأغدقت عليه الكثير من الرعاية والحنان ، فقد كانت تخشى عليه وتحذره دائمًا من الابتعاد عن القطيع حتى لا يؤذي نفسه          </p>

    <p>
        .  وكان ماوكلي يلعب مع جميع الحيوانات في الغابة ، فقد كان يحب الجميع والجميع يحبونه لذا كثرت صداقاته مع الحيوانات ، أمثال الدب بهالو وبهاجيرا والقرد والعديد من الأصدقاء الآخرين ، ولكن حيوان واحد فقط كان يكره ماوكلي وكان ينتظر أي فرصة لإيذائه ، إنه النمر شيرخان
    </p>
   <img src="assets/mawkli/image1.png" alt="">
   <p>
    .وفي مرة من المرات بينما كان ماوكلي يلعب ، جاء بهالو وهو يركض بأقصى سرعة وأخبر ماوكلي أن شير خان يبحث عنه ليقتله ، ولكن فتى الأدغال ماوكلي طمأنه وقال له لا تقلق يا صديقي فأنا أستطيع حماية نفسي من شر شيرخان ، فقد كانت لدى ماوكلي خطة جيدة لمواجهة خطر شيرخان ،يمكنه تنفيذها بمساعدة الثيران البرية
   </p>

<p>
    : كان ماوكلي يعلم أن الطريقه المثلى لمجابهة شر هذا النمر ، هي الخلاص منه بطريقة ذكية ، فأخذ يراقب شير خان الذي كان يقضي وقته على منحدر في الجبال ، دون أن يراه وصعد أعلى الجبل بحذر وأخذ يستكشف المكان دون أن يشعر شير خان بوجوده.وفي المساء جمع ماوكلي ثمانية من الثيران البرية القوية ، لها قرون طويلة وحادة وقال لهم
"اليوم سنضع معاً حدًا للإرهاب الذي يصنعه ذلك
النمر المتعجرف"

</p>

<img src="assets/mawkli/image2.png" alt="">
<p>
     .وبدأ ماوكلي يشرح للثيران خطة الهجوم على شيرخان.وتبعاً للخطة دار ماوكلي مع الثيران حول الجبل ، وصعدا بحذر دون أن يلحظهما النمر الغارق في النوم ، وبمجرد وصولهما إلى القمة قال لهم ماوكلي انتظروا إشارتي وبعدها تحركوا بقوة ناحية شيرخان ، فاستعد الجميع وبعدها رفع ماوكلي يده في إشارة للبدء الهجوم
</p>
<img src="assets/mawkli/image3.png" alt="">
<p>
     .فركضت الثيران إلى أسفل المنحدر ، وركلت بقدميها كميات هائلة من الغبار ملأت المكان ، وصعبت الرؤية ، فانتفض شيرخان من سماع صوت هذا الضجيج ، الذي كان أشبه بالرعد ، واستطاع بصعوبة بالغة أن يرى الثيران مقبلة عليه ، فحاول الكر والفر ولكن قبل أنت يستطيع فعل شيء وجد الثيران فوق رأسه .فقد اخترقت الثيران الهائجة جسد شيرخان بقرونهم الحادة والطويلة ، ووقع على الأرض وهو ينزف الدماء حتى فارق الحياة ، ففرحت الثيران بموته وذهب ماوكلي معهم إلى الغابة بكل فخر ليعلن للناس نبأ نهاية الشرير شيرخان
</p>



       </div>

       <div>
        <button type="submit" class="submit" (click)="router2()">إختبر نفسك</button>
    </div>
</div>
