<div style="text-align: left; margin-left: 20px;">
    <h1 style="text-decoration: underline;">
        !ما أجمل الصبر
      </h1 >
      <audio id="audioElement">
        <source src="assets/vocal/saberAudioUpdate.mp3" type="audio/mpeg">

      </audio>

      <div class="audio-player-container">
        <button class="audio-button" (click)="toggleAudio()">
          {{ isPlaying ? 'وقف' : 'تشغيل' }}
        </button>
      </div>
       <div style="font-size: 18px;">

    <img src="assets/saber/image1.png" alt="">
    <img src="assets/saber/image2.png" alt="">
    <img src="assets/saber/image3.png" alt="">
    <img src="assets/saber/image4.png" alt="">
    <img src="assets/saber/image5.png" alt="">

    <p style="margin-top: 30px; margin-left: 70px;">
      فجأة،   دخلت الم وقالت :"   ماذا تفعل ياصابر؟
      رد صابر :" 	  لشيء يا أمي!
    فأضافت والدته :" 	 	 	 هل تريد أن تشرب 	 	 	 الماء؟ هل ستنهي صيامك بتلكالسهولة ؟
    فأجاب صابر :" 	 	 	 أشعر بالعطش الشديد ياأمي.
   " 	 فقالت الم :" 	 	 	 علينارأن نتحملقليلً 	 	 	 فالصيامرركن من أركان السلم ،	 بل أيضا 	 	 	 	 للصيام فوائد صحية عديدة وأنه يجعلنا 	 	 	 نشعر بالفقراء والمساكينرأمثال سكان 	 غزة ونعطف عليهم ."
                   اقتنع صابر بكلم والدته وقرر أن يتحمل 	 	 	 	 	 ويدرب نفسه على الصيام كما علم أن 	 	 	 	 هذا الشعور طبيعي وسيكمل صيامه وهو 	 فرح ول يتعب.

    </p>

       </div>

       <div>
        <button type="submit" class="submit" (click)="routerSaber()">إختبر نفسك</button>
    </div>
</div>
