<div style="text-align: left; margin-left: 20px;">
    <h1 style="text-decoration: underline;">
        !ما أجمل الصبر
      </h1 >

       <div style="font-size: 18px;">

    <img src="../../../../../assets/saber/image1.png" alt="">
    <img src="../../../../../assets/saber/image2.png" alt="">

   <img src="../../../../../assets/saber/image3.png" alt="">
   <img src="../../../../../assets/saber/image4.png" alt="">
   <img src="../../../../../assets/saber/image5.png" alt="">



       </div>

       <div>
        <button type="submit" class="submit" (click)="routerSaber()">إختبر نفسك</button>
    </div>
</div>
