<div class="body">
  <div class="container">
    <h1>أسئلة وأجوبة</h1>
    <div class="question">
        <h2>لماذا خرج شكري ليصطاد في فصل الربيع؟</h2>
        <form [formGroup]="questionForm1">
            <input type="radio" id="reason1" name="reason" formControlName="reason">
            <label for="reason1">للحصول على طعام</label><br>
            <input type="radio" id="reason2" name="reason" formControlName="reason">
            <label for="reason2">للاستمتاع بالطبيعة</label><br>
            <input type="radio" id="reason3" name="reason" formControlName="reason">
            <label for="reason3">لممارسة هواية الصيد</label><br>
        </form>
    </div>
    <div class="question">
        <h2>ما رأيك في تصرف شكري، ولماذا؟</h2>
        <form [formGroup]="questionForm2">
            <input type="radio" id="opinion1" name="opinion" formControlName="opinion">
            <label for="opinion1">موافق عليه</label><br>
            <input type="radio" id="opinion2" name="opinion" formControlName="opinion">
            <label for="opinion2">غير موافق عليه</label><br>
            <input type="radio" id="opinion3" name="opinion" formControlName="opinion">
            <label for="opinion3">لا أعرف</label><br>
            <span class="sapn">علل إجابتك</span>
            <input type="text" formControlName="justification">
        </form>
    </div>
    <button class="submit-button" (click)="submitForm()">تحقق</button>
  </div>
</div>

<div class="image-container">
  <img *ngIf="isCorrectAnswer" src="assets/vrai.jpg" alt="Réponse Correcte">
  <img *ngIf="!isCorrectAnswer" src="assets/faux.jpg" alt="Réponse Incorrecte">
</div>
