.body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.question {
  margin-bottom: 20px;
}

.question h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.form-control {
  margin-bottom: 10px;
}

.sapn {
  display: block;
  margin-top: 10px;
}

.end {
  height: 100px; /* Hauteur de l'élément de fin pour ajouter de l'espace en bas */
}

img {
  max-width: 100%;
  height: auto;
}

/* Style pour le conteneur des images */
.image-container {
  text-align: center;
  margin-top: 20px;
}

/* Style pour cacher les images par défaut */
.hidden {
  display: none;
}
.fadeInOut {
  animation: fadeInOut 2s ease-in-out; /* Définir la durée de l'animation */
}
