<!-- Première section -->
<div class="question-container">
    <p class="question">
      ماهو مصدر الهدير؟
    </p>
    <input type="text" class="text-input">
</div>

<!-- Deuxième section -->
<div class="question-container">
    <p class="question">
      ماهو مصدر الهدير؟
    </p>
    <div class="radio-container">
        <label class="radio-label">
            <input type="radio" name="season" value="الصيف" class="radio-input">
            صاروخ
        </label>
        <label class="radio-label">
            <input type="radio" name="season" value="الربيع" class="radio-input">
            سيارة
        </label>
        <label class="radio-label">
            <input type="radio" name="season" value="الخريف" class="radio-input">
            طائرة
        </label>

    </div>
    <div class="order-list">
      <h1>ماهي اللوازم التي سيحتاجونها الأطفال؟</h1>
      <ul>
          <li>............................</li>
          <li>............................</li>
          <li>............................</li>
          <li>............................</li>
          <li>............................</li>
          <li>............................</li>
          <li>............................</li>
          <li>............................</li>
      </ul>
    </div>
    <div class="order-list">
      <h1>
        ماهي المدن التي زارها الأطفال؟
       </h1>
      <ul>
          <li>............................</li>
          <li>............................</li>
          <li>............................</li>
          <li>............................</li>
          <li>............................</li>
          <li>............................</li>

      </ul>
    </div>
<p>
  ما رأيك في هؤلاء الأطفال ؟
</p>
<input type="text">

</div>
