div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.question-container {
  margin-bottom: 20px;
}

.question {
  font-size: 18px;
  margin-bottom: 10px;
}

.text-input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.radio-container {
  display: flex;
  flex-direction: column;
}

.radio-label {
  font-size: 16px;
  margin-bottom: 8px;
}

.radio-input {
  margin-right: 20px; /* Ajoutez de l'espace entre l'élément de saisie et le texte */
}

.button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}
